<div class="container p-[40px] m-auto ">

    <fieldset  [formGroup]="informationsForm"
     class="max-w-[900px] m-auto mt-[50px]">
        <div class="form-card grid grid-cols-1">
            <div class="">
                <label class="fieldlabels"> titre de l'annonce *</label>
                <input type="text" name="fname" placeholder="titre" formControlName="titre" />
            </div>

            <div class="grid grid-cols-2 gap-4">
                <div class="">
                    <label class="fieldlabels">nombre de chambres : *</label>
                    <input type="number" min="1" value="1" name="lname"
                        placeholder="nombre de chambres" formControlName="nbchambre" />
                </div>
                <div class="">
                    <label class="fieldlabels">
                        nombre de lits : *</label>
                    <input type="text" name="phno" placeholder="nombre de lits" formControlName="nblits" />
                </div>

            </div>

            <div class="grid grid-cols-2 gap-4">

                <div class="">
                    <label class="fieldlabels">superficie en m²: *</label>
                    <input type="text" name="phno_2" placeholder="superficie" formControlName="superficie" />

                </div>
                <div class="">
                    <label class="fieldlabels">type de bien ? *</label>
                    <select class="form-select block w-full mt-1" name="type" id="type" formControlName="typeId">
                     
                        <option *ngFor="let type of types" [value]="type.id"  
                        >{{type.nom}}</option>
                       
                    </select>
                </div>
            </div>




        </div>
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 ">


            <div class="lg:col-span-2">
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">


                    <div class="md:col-span-3">
                        <label for="address" class="fieldlabels">Addresse / rue</label>
                        <input type="text" name="address" id="address"
                            class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" formControlName="rue"
                            placeholder="" />
                    </div>

                    <div class="md:col-span-2">
                        <label for="city" class="fieldlabels">ville</label>
                        <input type="text" name="city" id="city"
                            class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" formControlName="ville"
                            placeholder="" />
                    </div>

                    <div class="md:col-span-2">
                        <label for="country" class="fieldlabels">pays</label>
                        <input type="text" name="zipcode" id="zipcode"
                            class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="pays"
                            placeholder="" value="" />

                    </div>

                    <div class="md:col-span-2">
                        <label for="state" class="fieldlabels">gouvernorat / province</label>
                        <input type="text" name="zipcode" id="zipcode"
                            class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="gouvernorat"
                            placeholder="" value="" />

                    </div>

                    <div class="md:col-span-1">
                        <label for="zipcode" class="fieldlabels">code postal</label>
                        <input type="text" name="zipcode" id="zipcode"
                            class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="code_postal"
                            placeholder="" value="" />
                    </div>







                </div>
            </div>
        </div>

        <div class="form-card">

            <div class="">
                <main class=" mx-auto max-w-screen-lg h-full px-0">
                    <!-- file upload modal -->
                    <article aria-label="File Upload Modal"
                        class="relative h-full flex flex-col bg-white shadow-xl rounded-md">
                        <!-- overlay -->
                        <div id="overlay"
                            class="w-full h-full absolute top-0 left-0 pointer-events-none z-50 flex flex-col items-center justify-center rounded-md">
                            <i>
                                <svg class="fill-current w-12 h-12 mb-3 text-blue-700"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M19.479 10.092c-.212-3.951-3.473-7.092-7.479-7.092-4.005 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408zm-7.479-1.092l4 4h-3v4h-2v-4h-3l4-4z" />
                                </svg>
                            </i>
                            <p class="text-lg text-blue-700">Drop files to upload</p>


                        </div>

                        <!-- scroll area -->
                        <section class="h-full overflow-auto p-8 w-full h-full flex flex-col"
                        (dragover)="onDragOver($event)"
(dragleave)="onDragLeave($event)"
(drop)="onDrop($event)"
                        >
                            <header
                                class="border-dashed border-2 border-gray-400 py-12 flex flex-col justify-center items-center">
                                <p
                                    class="mb-3 font-semibold text-gray-900 flex flex-wrap justify-center">
                                    <span>Drag and drop your</span>&nbsp;<span>files anywhere or</span>
                                </p>
                                <input #fileInput (change)="onFileSelected($event)" id="hidden-input"
                                    type="file" multiple class="hidden" />
                                <a (click)="openFileExplorer()" id="button"
                                    class="mt-2 rounded-sm px-3 py-1 bg-gray-200 hover:bg-gray-300 focus:shadow-outline focus:outline-none">
                                    Upload a file
                                </a>
                            </header>

                            <h1 class="pt-8 pb-3 font-semibold sm:text-lg text-gray-900">
                                To Upload
                            </h1>
                            <p class="pt-8 pb-3 font-semibold sm:text-lg text-red-900">
                                * au moin 5 photos
                            </p>

                            <ul id="gallery" class="flex flex-1 flex-wrap -m-1">
                                <li  *ngIf="images.length==0"
                                
                                id="empty"
                                    class="h-full w-full text-center flex flex-col items-center justify-center items-center">
                                    <img class="mx-auto w-32"
                                        src="https://user-images.githubusercontent.com/507615/54591670-ac0a0180-4a65-11e9-846c-e55ffce0fe7b.png"
                                        alt="no data" />
                                    <span class="text-small text-gray-500">No files selected</span>
                                </li>


                                <li *ngFor="let selectedFile of selectedFiles; let i = index"
                                class="block p-1 w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6 xl:w-1/8 h-24">
                                <article tabindex="0"
                                    class="group hasImage w-full h-full rounded-md focus:outline-none focus:shadow-outline bg-gray-100 cursor-pointer relative text-transparent hover:text-white shadow-sm">
                                    <img [src]="selectedFile.url" alt="upload preview"
                                        class="img-preview w-full h-full sticky object-cover rounded-md bg-fixed" />
                            
                                    <section
                                        class="flex flex-col rounded-md text-xs break-words w-full h-full z-20 absolute top-0 py-2 px-3">
                                        <h1 class="flex-1"></h1>
                                        <div class="flex">
                                            <span class="p-1 focus:outline-none hover:bg-gray-300 rounded-md">
                                                <fa-icon title="rendre principale" [icon]="FaImage"
                                                    class="text-white-600"></fa-icon>
                                            </span>
                            
                                            <p class="p-1 size text-xs"></p>
                                            <a (click)="deleteImage(selectedFile)"
                                                class="delete ml-auto focus:outline-none hover:bg-gray-300 p-1 rounded-md">
                                                <fa-icon title="supprimer" [icon]="faTrash"
                                                    class="text-white-600"></fa-icon>
                                            </a>
                                        </div>
                                    </section>
                                </article>
                            </li>

                            </ul>
                        </section>

                    </article>
                </main>
            </div>





        </div>
        <div class="form-card">
           


            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label class="fieldlabels">prix en printemps</label>
                    <input type="text" name="fname" placeholder="prix d'une nuité en printemps"  formControlName="prixPrintemps" />
                </div>
                <div>
                    <label class="fieldlabels">prix en
                        été*</label>
                    <input type="number" min="1" value="1" name="lname"
                        placeholder="prix d'une nuité en été" formControlName="prixEte" />
                </div>

            </div>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label class="fieldlabels">prix
                        en automne *</label>
                    <input type="text" name="phno" placeholder="prix d'une nuité en automne" formControlName="prixAutomne" />
                </div>
                <div>

                    <label class="fieldlabels">prix en hiver
                        :*</label>
                    <input type="text" name="phno_2" placeholder="prix d'une nuité en hiver" formControlName="prixHiver" />
                </div>

            </div> 


        </div> 


          <button   (click)="modifierAnnonce()"  class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full mx-2 my-2">
            valider

          </button>
        
        <!-- <input  (click)="updateAnnonce()"
        type="button" name="next" class="next action-button" value="valider" /> -->
     
    </fieldset>
    </div>


    <!-- Main modal -->





