
    <!-- Loader Start -->
    <!-- <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div> -->
    <!-- Loader End -->
    <!-- Start Navbar -->

    <!--end header-->
    <!-- End Navbar -->

   

    <!-- Hero Start -->
    <section class="relative py-40 lg:h-screen flex justify-center items-center bg-green-600/10">
        <div class="container p-[40px] p-[40px]">
            <div class="grid md:grid-cols-2 gap-[30px] mt-10 items-center max-w-[1100px] m-auto">
                <div class="ltr:md:text-left rtl:md:text-right text-center">
                    <h1 class="font-bold lg:leading-normal leading-normal text-4xl lg:text-5xl mb-6">Trouvez Votre <span
                            class="text-green-600">parfait <br> & Merveilleux</span> Logement</h1>
                    <p class="text-slate-400 text-xl max-w-xl">Une excellente plateforme  louer vos propriétés sans aucun agent ni commissions.</p>

                    <div class="relative mt-8">
                        <!-- <div class="grid grid-cols-1"> -->
                          
<!-- 
                            <div id="StarterContent"
                                class="p-6 bg-white dark:bg-slate-900 rounded-ss-none rounded-se-none md:rounded-se-xl rounded-xl shadow dark:shadow-gray-700">
                                <div class="" id="buy-home" role="tabpanel" aria-labelledby="buy-home-tab">
                                    <div class="subcribe-form z-1">
                                        <form class="relative max-w-2xl mx-auto"> -->
                                            <!-- <i data-feather="search"
                                                class="w-5 h-5 absolute top-[47%] -translate-y-1/2 start-4"></i>
                                            <input type="name" id="search_name" name="name"
                                                class="rounded-full bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 ps-12"
                                                placeholder="City, Address, Zip :">

                                            <input type="text" id="first_name"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                                                placeholder="John" required> -->

                                            <button type="submit" routerLink="/liste-annonces"
                                                class="btn bg-green-600 hover:bg-green-700 font-bold text-white py-2 px-4 rounded-full">Rechercher maintenant</button>

                                        <!-- </form>
                                    </div>
                                </div>

                              
                            </div> -->
                        <!-- </div> -->
                        <!--end grid-->
                    </div>
                </div>

                <div class="relative lg:ms-[10rem]">
                    <div class="p-5 shadow dark:shadow-gray-700 rounded-t-full bg-white dark:bg-slate-900">
                        <img src="../../assets/images/hero.jpg" class="shadow-md rounded-t-full rounded-md" alt="">
                    </div>

                </div>
            </div>
        </div><!--end Container-->
    </section><!--end section-->
    <!-- Hero End -->

    <!-- Start -->
    <section class="relative md:py-24 py-16 lg:px-[30px]">
        <div class="container">
            <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
                <div class="md:col-span-5">
                    <div class="relative">
                        <img src="../../assets/images/about.jpg" class="rounded-xl shadow-md" alt="">
                      
                    </div>
                </div><!--end col-->

                <div class="md:col-span-7">
                    <div class="lg:ms-4">
                        <h4 class="mb-6 md:text-3xl text-2xl lg:leading-normal leading-normal font-semibold">Efficacité, Transparence
                            <br> et  Contrôle.</h4>
                        <p class="text-slate-400 max-w-xl">
                            LogeBien une plateforme pour la location  immobilière qui permet aux locataires et aux
                            propriétaires d'exécuter facilement une transaction par eux-mêmes. La plateforme met
                            l’efficacité, la transparence des coûts et le contrôle entre les mains des consommateurs.
                            ..</p>

                       
                    </div>
                </div><!--end col-->
            </div><!--end grid-->
        </div><!--end container-->

        <div class="container m-auto p-[40px] lg:mt-24 mt-16">
            <div class="grid grid-cols-1 pb-8 text-center">
                <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Comment ça marche
                </h3>

                <p class="text-slate-400 max-w-xl mx-auto">c'est très simple !</p>
            </div><!--end grid-->

            <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
                <!-- Content -->
                <div
                    class="group relative lg:px-10 transition-all duration-500 ease-in-out rounded-xl bg-transparent overflow-hidden text-center">
                    <div class="relative overflow-hidden text-transparent -m-3">
                        <i data-feather="hexagon" class="h-32 w-32 fill-green-600/5 mx-auto"></i>
                        <div
                            class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-green-600 rounded-xl transition-all duration-500 ease-in-out text-4xl flex align-middle justify-center items-center">
                            <i class="uil uil-estate"></i>
                        </div>
                    </div>

                    <div class="mt-6">
                        <h5 class="text-xl font-medium">cherchez un bien </h5>

                        <img src="../../assets/images/step_1.png" class="m-auto mt-6  h-[100px]" alt="">
                    </div>
                </div>
                <!-- Content -->

                <!-- Content -->
                <div
                    class="group relative lg:px-10 transition-all duration-500 ease-in-out rounded-xl bg-transparent overflow-hidden text-center">
                    <div class="relative overflow-hidden text-transparent -m-3">
                        <i data-feather="hexagon" class="h-32 w-32 fill-green-600/5 mx-auto"></i>
                        <div
                            class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-green-600 rounded-xl transition-all duration-500 ease-in-out text-4xl flex align-middle justify-center items-center">
                            <i class="uil uil-bag"></i>
                        </div>
                    </div>

                    <div class="mt-6">
                        <h5 class="text-xl font-medium">selectionnez un bien</h5>
                        <img src="../../assets/images/step_2.png" class="m-auto mt-6  h-[100px]" alt="">
                    </div>
                </div>
                <!-- Content -->

                <!-- Content -->
                <div
                    class="group relative lg:px-10 transition-all duration-500 ease-in-out rounded-xl bg-transparent overflow-hidden text-center">
                    <div class="relative overflow-hidden text-transparent -m-3">
                        <i data-feather="hexagon" class="h-32 w-32 fill-green-600/5 mx-auto"></i>
                        <div
                            class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-green-600 rounded-xl transition-all duration-500 ease-in-out text-4xl flex align-middle justify-center items-center">
                            <i class="uil uil-key-skeleton"></i>
                        </div>
                    </div>

                    <div class="mt-6">
                        <h5 class="text-xl font-medium">payez et prenez vos clés</h5>
                        <img src="../../assets/images/step_3.png" class="m-auto mt-6  h-[100px]" alt="">
                    </div>
                </div>
                <!-- Content -->
            </div><!--end grid-->
        </div><!--end container-->

        <div class="container m-auto lg:mt-24 mt-16 xl:px-[30px]">
            <div class="grid grid-cols-1 pb-8 text-center">
                <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">annonces publiées
                    récemment
                </h3>

                <!-- <p class="text-slate-400 max-w-xl mx-auto">A great plateform to buy, sell and rent your properties
                    without any agent or commisions.</p> -->
            </div><!--end grid-->

            


            <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-[30px]">
                <div *ngFor="let annonce of annonces"
                  class="group rounded-xl bg-white dark:bg-slate-900 shadow hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                  <div class="relative">
                    <img [src]="annonce.image" class="min-h-[220px] max-h-[220px] w-full"
                     alt="">
          
                    <div class="absolute top-4 end-4">
                      <a href="javascript:void(0)"
                        class="btn btn-icon bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-full text-slate-100 dark:text-slate-700 focus:text-red-600 dark:focus:text-red-600 hover:text-red-600 dark:hover:text-red-600"><i
                          class="mdi mdi-heart mdi-18px"></i></a>
                    </div>
                  </div>
          
                  <div class="p-6">
                    <div class="pb-6">
                      <a routerLink="/consulter-annonce/{{annonce.id}}" href="property-detail.html"
                        class="text-lg hover:text-green-600 font-medium ease-in-out duration-500">{{annonce.titre}} à
                        {{annonce.ville}}</a>
                    </div>
          
                    <ul class="py-6 border-y border-slate-100 dark:border-gray-800 flex items-center list-none">
                      <li class="flex items-center me-4 text-center">
          
                        <fa-icon [icon]="faCompressArrowsAlt" class="text-green-600 mr-1"></fa-icon>
                        <span>{{annonce.superficie}} m²</span>
                      </li>
          
                      <li class="flex items-center me-4 text-center">
          
                        <fa-icon [icon]="faBed" class="text-green-600 mr-1"></fa-icon>
                        <span>{{annonce.nblits}} lits</span>
                      </li>
          
                      <li class="flex items-center text-center">
          
                        <fa-icon [icon]="faCouch" class="text-green-600 mr-1"></fa-icon>
                        <span>{{annonce.nbchambre}} chambres</span>
                      </li>
                    </ul>
          
                    <ul class="pt-6 flex justify-between items-center list-none">
                      <li>
                        <span class="text-slate-400">Prix</span>
          
                      </li>
          
                      <li>
          
                        <p class="text-lg font-medium">{{getPrixSaisonActuelle(annonce)}} dt </p>
          
                      </li>
                    </ul>
                  </div>
                </div><!--end property content-->
          
          
          
          
          
          
              </div><!--en grid-->


        </div><!--end container-->


        <button type="submit" routerLink="/liste-annonces"
        class="btn bg-green-600 hover:bg-green-700 font-bold text-white py-2 px-4 rounded-full absolute bottom-34 left-1/2 transform -translate-x-1/2 mt-[15px]">+ voir plus</button>


    </section><!--end section-->
    <!-- End -->

   








