<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="max-w-[900px] mx-auto mt-20" #PrintTemplateTpl>
    <header class="clearfix">
      <div id="logo">
        <img src="../../assets/images/logo/logo_1.jpg">
      </div>
      <div id="company">
        <h2 class="name">Logebien</h2>
        <div>tunis , Tunisie</div>
        <div><a href="mailto:Logebien@contact.com">Logebiencontact.com</a></div>
      </div>
    </header>
    <main>
      <div id="details" class="clearfix">
        <div id="client">
          <div class="to">facture pour :</div>
          <h2 class="name">{{locataireDto.prenom}} {{locataireDto.nom}}</h2>
          <div class="email" *ngIf="locataireDto.email"><a href="mailto:{{locataireDto.email}}">{{locataireDto.email}}</a></div>
        </div>
        <div id="invoice">
          <h1>Réservation {{idReservation}}</h1>
          <div class="date">de : {{dateDebut | date: 'dd/MM/yyyy'}}</div>
          <div class="date">jusqu'à: {{dateFin | date: 'dd/MM/yyyy'}}</div>
        </div>
      </div>
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="no">#</th>
            <th class="desc">période</th>
            <th class="unit">prix nuité</th>
            <th class="qty">nb nuités</th>
            <th class="total">total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="no">01</td>
            <td class="desc">de {{dateDebut | date: 'dd/MM/yyyy'}} jusqu'à {{dateFin | date: 'dd/MM/yyyy'}}</td>
            <td class="text-center">{{prixTotal / getNbNuits() | number:'1.2-2'}}</td>
            <td class="text-center">{{getNbNuits()}}</td>
            <td class="total">{{prixTotal | number:'1.2-2'}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"></td>
            <td>
              <span class="inline-flex items-center rounded-md bg-pink-50 px-2 py-1 text-xs font-medium text-pink-700 ring-1 ring-inset ring-pink-700/10">
                {{statut === 'EnAttente' ? 'non payée' : 'payée'}}
              </span>
            </td>
            <td>PRIX TOTAL</td>
            <td>{{prixTotal | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td class="text-center" colspan="5">
              <h5 class="text-black">Merci pour votre réservation</h5>
       
            </td>
          </tr>
        </tfoot>
      </table>
      <div id="thanks">Thank you!</div>
      <div id="notices">
        <div>NOTICE:</div>
        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
      </div>
    </main>
  
    <button class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded m-2 btn" (click)="imprimerFacture()">
      imprimer
    </button>
  
    <button (click)="payer()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded m-2 btn" *ngIf="statut === 'EnAttente'">
      payer
    </button>
  </div>
</body>
</html>