 <!-- Start Footer -->
 <footer class="relative bg-slate-900 dark:bg-slate-800">
    <!-- <div class="container">
        <div class="grid grid-cols-1">
            <div class="relative py-16">

            </div>
        </div>
    </div> -->
    <!--end container-->

    <div class="py-[30px] px-0 border-t border-gray-800 dark:border-gray-700">
        <div class="container text-center">
            <div class="grid md:grid-cols-2 items-center gap-6">
                <div class="ltr:md:text-left rtl:md:text-right text-center">
                    <p class="mb-0 text-gray-300">© LogeBien
                          <i
                            class="mdi mdi-heart text-red-600"></i> 
                    </p>
                </div>

            </div><!--end grid-->
        </div><!--end container-->
    </div>
</footer><!--end footer-->
<!-- End Footer -->